html {
  font-size: 18px;
  font-family: Helvetica;
}

body{
  width: 100%;
}

.container_size{
  width: 960px;
  margin: auto;
  /*border: 1px solid green;*/
}

/************************header****************************/

header{
  background-color: black;
  display: block;
  /*border: 1px solid red;*/
}

header img{
  display: inline-block;
  height: 1.5rem;
  margin-left: 0.5rem;
  /*vertical-align steht im child, nicht im parent wie bei flexbox*/
  vertical-align: middle;
  /*border: 1px solid green;*/
}

header h2{
  margin-top: 0.66rem;
  margin-bottom: 0.66rem;
  margin-left: 0.8rem;
  color: white;
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
  /*border: 1px solid green;*/
}

/************************banner****************************/

.banner{
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top: 1px solid black;
}

.container_banner{
  background-color: black;
  width: 25rem;
  color: white;
  font-weight: bold;
  margin-top: 9rem;
}

.container_banner h2, .container_banner h1{
  display: inline-block;
  margin-left: 3rem;
}

.container_banner h2{
  font-size: 1rem;
  margin-top: 2rem;
}

.container_banner h1{
  font-size: 2rem;
  margin-top: 0.25rem;
  margin-bottom: 2rem;
}

/************************nav****************************/

nav{
  background-color: firebrick;
  /*border: 1px solid white;*/
  width: inherit;
}

.nav_item{
  display: inline-block;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  text-align:center;
  /*border: 1px solid blue;*/
  padding-right: 109px; /* variable width */
}

.nav_item:last-child{
  padding-right: 0px;
  float: right;
}

nav a{
  color: white;
  text-decoration: none;
}

/************************products****************************/
.container_size_product{
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 960px;
  margin: auto;
  /*border: 2px solid yellow;*/
}

.container_product{
  display: inline-block;
  border: 4px solid black;
  margin: 0px;
  width: 30%;
  text-align: center;
}

.container_product:first-child{
  float: left;
}

.container_product.hidden_small{
  margin: 0 36px;
}

.container_product:last-child{
  float: right;
}

.container_product_image{
  display: inline-block;
  height: 9rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  /*border: 1px solid brown;*/
}

.container_product img{
  display: inline-block;
  /*this does not work:
  vertical-align: middle;*/
  /*Because: This property (vertical-align) does not allow you to "vertically center" an element within another element. Flexbox is more of the proper tool there. However, there is a trick involving a pseudo "ghost" element that can allow this to work.*/
  /*apparently, a lot of hacking would be necessary, to achieve this goal => using flexbox will be much better*/
  max-height: 9rem;
  max-width: 9rem;
  /*border: 1px solid grey;*/
}

/*instead of hacking and instead of flexbox, workaround:*/
.container_product:last-child img{
  padding-top: 2.5rem;
}

.container_product h2{
  display: inline-block;
  background-color: black;
  color: white;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/************************info****************************/

.container_size_info{
  width: 960px;
  margin: auto;
  /*hier ist padding noetig, sonst ist die box fuer container_size_info zu klein!
  nur bei desktop, bei medium und small greift clear_float und es ist nicth noetig...macht keinen sinn....*/
  padding-bottom: 4rem;
  /*border: 2px solid red;*/
}

.container_info{
  display: inline-block;
  width: 35%;
  /*border: 2px solid orange;*/
}

.container_info:first-child{
  float: left;
}

.container_info:last-child{
  float: right;
}

.black_box{
  display: inline-block;
  background-color: black;
  width: 100%;
}

 /*dadurch, dass h2 verschoben ist, verschiebt sich der hintergrund, daher seperates div mit background-color*/
.container_info h2{
  display: inline-block;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}


/************************footer****************************/

footer{
  height: 5rem;
  margin-top: 4rem; /*hier ist der abstand vor footer*/
  background-color: black;
  text-align: left;
}

footer h2{
  display: inline-block;
  color: white;
  margin-top: 2rem;
}

/************************media queries****************************/
@media only screen and (min-width: 1024px){
  /*navigation*/
  nav .small {
    display: none;
  }
}

@media only screen and (max-width: 1024px){

  .container_size{
    width: 100%;
  }

  /*general rule to hide everything in medium screensize*/
  .hidden_medium{
    display: none;
  }

  /*navigation*/
  nav .container_size{
    display: none;
  }

  nav .small {
    /*display: block;*/
    text-align: center;
  }

  .nav_item:last-child{
    float: none;
  }

  /*products*/
  .container_size_product{
    width: 100%;
  }

  .container_product.first{
    /*float: left; nicht noetig, da float: left vererbt wird*/
    width: 47%;
  }

  .container_product.hidden_small{
    margin: 0;
    float: right;
    width: 47%;
  }

  /*wenn nur float, dann passt sich der container nicht an! daher dieser fix (aus codeschool):*/
  .clear_float:before,
  .clear_float:after{
    content: "";
    display: table;
  }

  .clear_float:after{
    clear: both;
  }

  /*info*/
  .container_size_info{
    width: 100%;
    /*da hier clear_float greift darf hier kein padding sein!*/
    padding-bottom: 0;
  }

  footer{
    height: 5rem;
    text-align: left;
  }

  footer h2{
    display: inline-block;
    margin-top: 2rem;
  }

}

@media only screen and (max-width: 470px){

  /*general rule to hide everything in small screensize*/
  .hidden_small{
    display: none;
  }

  /*banner*/
  .banner{
    height: 15rem;
  }

  .container_banner{
    margin-top: 10rem;
    width: 100%;
  }

  .container_banner h2, .container_banner h1{
    margin-left: 2rem;
  }

  .container_banner h2{
    font-size: .77rem;
    margin-top: 1rem;
  }

  .container_banner h1{
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .container_banner h2, .container_banner h1{
    margin-left: 2rem;
  }

  /*products*/
  .container_size_product{
    width: 90%;
    margin: auto;
  }

  .container_product{
    width: 100%;
  }

  .container_product.first{
    width: 100%;
  }

  /*info*/
  .container_size_info{
    width: 90%;
    margin: auto;
  }

  .container_info{
    width: 100%;
    margin: auto;
  }

  .container_info:first-child{
    float: left;
  }

  .container_info:last-child{
    float: none;
    margin-top: 0.5rem;
  }

  footer{
    text-align: center;
  }
}
